@model TicketTypeFormViewModel

<div class="card mb-3 ticket-type-row">
    <div class="card-body">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Remove" />
        <input type="hidden" asp-for="HasBookingItems" />

        <div class="row g-3">
            <div class="col-lg-4">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="bg-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="Price" class="form-label"></label>
                @if (Model.HasBookingItems)
                {
                    <input asp-for="Price" class="form-control" readonly />
                    <div class="form-text">Price is locked after bookings exist.</div>
                }
                else
                {
                    <input asp-for="Price" class="form-control" />
                }
                <span asp-validation-for="Price" class="bg-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="Quantity" class="form-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="bg-danger"></span>
            </div>
            <div class="col-lg-2 d-flex align-items-end">
                <button type="button" class="btn btn-danger w-100" data-remove-ticket-type>Remove</button>
            </div>
        </div>
    </div>
</div>
